<%= form_for @empleado, html: { multipart: true } do |f| %>
  <% if @empleado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empleado.errors.count, "error") %> prohibited this empleado from being saved:</h2>

      <ul>
      <% @empleado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :fechacumpleaños %><br>
    <%= f.text_field :fechacumpleaños %>
  </div>
  <div class="field">
    
  <%= f.file_field :avatar, as: :file %>

  </div>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

