<body class="homepage">
  



<div class="container">
  <div class="row">
    <h1 class="centrar cum">Grupo de Apoyo Administrativo Complejo Sur Itagüí</h1>

   <hr>
    <section id="pinBoot">
       <% @empleados.each do |empleado| %>
      <article class="white-panel imagen"><%= image_tag empleado.avatar.url(:thumb) %>
        <h4 class="centrar"><%= empleado.nombre %></h4>
        <p class="centrar"><%= empleado.fechacumpleaños %></p>
        <p>
          
        <%#= link_to 'Show', empleado %>
        <%= link_to 'Edit', edit_empleado_path(empleado) %>
        <%= link_to 'Destroy', empleado, method: :delete, data: { confirm: 'Are you sure?' } %>
        
        </p>
      </article>
      
       

      <% end %>

    </section>


    <hr>


  </div>
  <p>
   
<%= link_to 'New Empleado', new_empleado_path %>


  </p>

</div>
</body>